<!--<div class="container">
    <div class="row">
        <div class="col-6">
            <form class="form-horizontal" action="/cinepolisR" method="POST">

                <div class="control-group">
                    <h3>Entradas</h3>
                    <label class="control-label" for="nombre">Nombre: </label>
                    <div class="controls">
                        <input type="text" [(ngModel)]="nombre"  name="nombre" value="">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="cantCompradores">Cant Compradores: </label>
                    <div class="controls">
                        <input type="text" [(ngModel)]="cantCompradores"  name="cantCompradores" value="">
                    </div>
                </div>
                <div class="col-2">
                    <p> TARJETA CINECON</p>
                    <div class="control-group">
                        <label class="control-label" for="tarjeta">SI</label>&nbsp; &nbsp;
                        <input type="radio" id="si" [(ngModel)]="tarjeta" name="tarjeta" value="si">
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="txtCantC1">NO</label>&nbsp;
                        <input type="radio" id="no" [(ngModel)]="tarjeta" name="tarjeta" value="no">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="cantBoletos">Cant de Boletas: </label>
                    <div class="controls">
                        <input type="text" name="cantBoletos" [(ngModel)]="cantBoletos">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-6">
            <div class="control-group">
                <h3>Salidas</h3>
                <label class="control-label" for="txtNombre">Valor a pagar: {{total}} </label>
            </div>

            <img src="https://images.mediotiempo.com/Vymnf6EtQdv1Pq8--8ssZbIrHy0=/958x596/uploads/media/2020/03/24/cinepolis-cerrara-sus-puertas-hasta.jpg"
                style="width:300px;height:180px; margin-top: 50px;" />
        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <div class="control-group">
                <div class="controls" style="text-align: center;">
                    <h3>ACCIONES</h3>
                    <button class="btn btn-primary" (click) ="calcularPago()">Procesar</button>
                    <button class="btn btn-primary mr-3" type="button" onclick="location.href='/salida'">SALIR
                        <i class="icon-ok icon-white"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<div class="contenedor">
    <mat-form-field>
      <input matInput type="text" [(ngModel)]="nombre" placeholder="Nombre">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" [(ngModel)]="cantCompradores" placeholder="Cant Compradores">
    </mat-form-field>
    <mat-radio-group name="tarjeta" [(ngModel)]="tarjeta">
    <mat-radio-button  [(ngModel)]="tarjeta" name="tarjeta" value="si" style="margin: 10px;">
    Si
    </mat-radio-button>
    <mat-radio-button  [(ngModel)]="tarjeta" name="tarjeta" value="no" style="margin: 10px;">
        No
        </mat-radio-button>
    </mat-radio-group>
    <mat-form-field>
        <input matInput type="number" [(ngModel)]="cantBoletos" placeholder="Cant Boletos">
      </mat-form-field>
    <button mat-raised-button color="success" (click)="calcularPago()">Calcular</button>
    <h1>Valor a pagar: {{total}}</h1>
    <p>{{mensaje}}</p>
    </div>
      